@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; /* wysokość headera */
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-paper-texture {
    background-image: url('/images/zmiety arkusz papieru 2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}